/* Container que envolve os dois cards */
.capa-dividida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 20px; /* Espaço entre os dois cards */
    padding: 100px 40px 40px 40px; /* Espaço para o menu fixo */
    
}

/* Estilo comum para os dois blocos (Cards) */
.coluna-imagem, .coluna-texto {
    flex: 1;
    height: 80vh; /* Define uma altura fixa para os cards */
    border-radius: 20px; /* Bordas arredondadas conforme o layout */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card da Esquerda (Imagem) */
.coluna-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none !important; /* Retirado o background */
    border: none !important;     /* Retirada a linha em torno */
}

.img-hero {
    max-height: 90%;
    width: auto;
    object-fit: contain;
}

/* Card da Direita (Conteúdo) */
.coluna-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none !important; /* Retirado o background */
    border: none !important;     /* Retirada a linha em torno */
    padding: 40px;
    text-align: center;
}

.titulo-sessao {
    font-size: 2.2rem;
    color: var(--dourado) !important;
    margin-bottom: 20px;
    font-family: 'Coustard', serif !important;
    line-height: 1.2;
    font-weight: 900;
}

.subtitulo {
    font-size: 1.1rem;
    color: #e2e2e2; 
    margin-bottom: 30px;
    line-height: 1.6;
}

.acoes {
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* Ajuste Responsivo (Empilhar no Mobile) */
@media (max-width: 900px) {
    .capa-dividida {
        flex-direction: column;
        height: auto;
        padding-top: 150px;
    }
    .coluna-imagem, .coluna-texto {
        width: 100%;
        height: auto;
        padding: 60px 0px 10px 0px;
    }
    .img-hero {
        width: 150px;
        max-width: 30%;
    }
}


/* Configuração Geral dos Botões */
.btn-principal, .btn-secundario {
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
}

/* Botão Principal: Dourado com texto Preto */
.btn-principal, 
.btn-principal:visited {
    background-color: var(--dourado);
    color: var(--preto) !important;
}

/* Botão Secundário: Apenas borda Dourada */
.btn-secundario, 
.btn-secundario:visited {
    border: 2px solid var(--dourado);
    color: var(--dourado) !important;
}

/* Efeito ao passar o mouse (Hover) */
.btn-principal:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
}

.btn-secundario:hover {
    background-color: var(--dourado);
    color: var(--preto) !important;
}

/* Mantém a cor original mesmo quando clicado (Active) */
.btn-principal:active,
.btn-secundario:active {
    transform: translateY(0);
}